{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %} ورود {% endblock %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">ورود به حساب کاربری</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">صفحه اصلی</a></p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

<form action="" method="post" class="container mt-5 border p-5 rounded-sm">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="text-center">
        <input type="submit" value="ورود" class="bg-primary p-1 btn btn-primary">
    </div>
</form>

{% endblock %}
